html{
	
	font-size: 18px;
	line-height: 1.4;
	
}

body{
	width: 100%;
	font-family: 'Droid Sans', sans-serif;
	box-sizing: border-box;
}

.landing{
	width: 100%;
	height:17rem;
}

.nav{
	background: cadetblue;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}


.nav img{
	height: 1.5rem;
	margin: 0.5rem 0;
}

.serv,
	.prod,
		.con{
			display: none;
		}

.siteTitle{
	display: none;
}

.background{
	display: flex;
	background: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png");
	background-position: 20%;
	background-size: cover;
	background-repeat: no-repeat;
	height: 17rem;
}

.background h1{
	display: flex;
	justify-content: center;
	align-items: center;
	background: white;
	width: 100%;
	height: 2rem;
	padding: 1rem 0;
	margin-top: 12rem;
}

.services{
	display: flex;
	flex-direction: column;
	
	align-items: center;
	width: 100%;
	height: auto;
	margin-top: 3.77rem;
}

.exam,
	.fitting,
		.delivery{
			height: 8rem;
			width: 3.5rem;
		}
		
.exam,
	.fitting{
	padding: 1.54rem 0;
}

.exam img,
	.fitting img,
		.delivery img{
			width: 100%;
			height: auto;
		}
		
.exam p,
	.fitting p,
		.delivery p{
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 0.77rem;
			text-align: center;
		}
		
.about{
	
	width: 100%;
	height: auto;
}

.about h2{
	font-weight: bold;
	font-size: 1rem;
	text-align: center;
	width: 100%;
	height: auto;
	padding: 0.5rem 0;
	background: cadetblue;
	color: white;
}

.about p{
	
	margin-bottom: 4rem;
	font-size: 0.77rem;
	width: 100%;
	padding: 1rem 0.25rem;
}
	
.footer{
	display: flex;
	justify-content: center;
	
	width: 100%;
	background: azure;
}

.footer div{
	display: flex;
	
	align-items: center;
	background: azure;
	width: 50%;
	height: 8rem;
}

.footer img{
	margin-left: 25%;
	height: 1.5rem;
	width:auto;
	z-index: 3;
	
}


	.footer p
			{
		z-index: -2;
	}
	
@media only screen and (min-width: 768px){
	body{
		width: 100%;
	}
	
	.menu{
		display: none;
	}
	
		
	.nav div{
		display: flex;
		justify-content: space-between;
		align-items: center;
		
	}
	
	.siteTitle{
		padding-left: 1rem;
	}
.serv,
	.prod,
		.con,
			.siteTitle{
			display: flex;
			padding-right: 2rem;
		}
	
	.landing{
		width: 100%;
		height: 22rem;
	}
	
	.background{
		background-size: 150%;
		
	}
	
	.background h1{
		width: 40%;
		font-size:1.25rem;
		line-height: 1.2;
		margin-top: 5rem;
		display: flex;
		flex-wrap: wrap;
		position: relative;
		left: 50%;
		padding: 3rem 1rem;

	}
	
	.services{
		Display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		height: 8rem;
		width: 100%;
		margin-top: 0;
	}
	
	.exam{
		width: 3.5rem;
		height: auto;
	}
		
	.fitting,
		.delivery{
			width: 5rem;
			height: auto;
			padding-top: 0;
		}
		
	.delivery{ 
		padding-bottom: 1.5rem;
	}
	
	.exam p,
		.fitting p,
			.delivery p{
		display: inline-block;
		vertical-align: text-bottom;
	}
	
} 