html{
	font-size: 18px;
	line-height: 1.4;
	
}

body{
	width: 100%;
	font-family: 'Droid Sans', sans-serif;
}

.landing{
	width: 100%;
	height:17rem;
}

.nav{
	background: cadetblue;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}

.nav h1{
	margin: 1rem 2rem;
	padding: 0 2rem;
}

.nav img{
	height: 1.5rem;
	margin: 1rem 2rem;
	padding-right: 2rem;
}
	
.background{
	display: flex;
	background: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png");
	background-position: 20%;
	background-size: cover;
	background-repeat: no-repeat;
	height: 17rem;
}

.background span{
	display: flex;
	justify-content: center;
	align-items: center;
	background: white;
	width: 100%;
	height: 2rem;
	padding: 1rem 0;
	margin-top: 12rem;
}

.services{
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	height: auto;
}

.exam,
	.fitting,
		.delivery{
			margin: 3.77rem 0;
			
		}

.exam img,
	.fitting img,
		.delivery img{
			
			
		}